body {
    padding-top: 0px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font: normal 400 14px 'Open Sans', sans-serif;
    line-height: 22px;
}


/* Login Page */

.has-feedback .form-control {
    padding-right: 0px;
}

/* Buttons */

.btn, .btn-large {
    color: #fff;
    background-color: #ee9800;
    float:right;
}

    .btn:hover, .btn-large:hover {
        color: #fff;
        background-color: #ee9800;
    }

/* Homepage Dashboard */

.progress.sm, .progress-sm {
    height: 4px;
}

/*start feeder map */
/* .box{
	width:30px;
	height:20px;
    margin-left:30px; */
}

.green {
    background: #90ed7d;
}

.orange {
    background: #f7a35c;
}

.yellow {
    background: #e4d354;
}

.red {
    background: #f45b5b;
}

.blue {
    background: #22b8f4;
}

.bfnt {
    font-weight: bold;
    font-size: 15px;
}



/*
 #legend {
       font-family: Arial, sans-serif; 
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }*/

/*end feeder map*/

/* Start login*/
/*    body{
background:url(images/login.jpg) repeat center center fixed; 
		z-index:-1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p{
clear:both;
	  font-family:calibri;
	font-size:12px;			
color:white;  
}
.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}  */

/* end login */

