body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px;
}

.main-header .logo {
    height: 64px;
}
/*.logo > img {
    max-width: 115px;
}*/
.main-sidebar,
.left-side {
    padding-top: 64px;
}

.progress.sm,
.progress-sm {
    height: 4px;
}

.progress-group .progress-text {
    font-weight: 400;
}

h1 {
    color: #ee9800;
}

h2 {
    color: #ee9800;
    font-size: 25px;
    border-bottom: 2px solid;
    margin-top: 15px;
}

h3 {
    color: #666;
    font-weight: 400 !important;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

h5 {
    text-transform: uppercase;
}

/* Login page */

.login-body {
    background: rgba(0, 0, 0, 0.7) url(../images/login.jpg) repeat center center fixed;
    left: 0;
    top: 0;
    opacity: 0.1;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
}

.login-box input[type="text"] {
    padding: 0;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid #9e9e9e;
}

.errormessage {
    color: #f00;
    font-weight: bold;
}

.login-box, .register-box {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top: 0;
}

.login-box-msg {
    color: #666;
}

.login-box-body {
    clear: both;
    border-top: 5px solid #ee9800;
    min-height: 330px;
    opacity: 1.0;
    z-index: 1;
    background-color: white;
    max-height: 330px;
}

    .login-box-body img {
        padding-top: 25px;
    }


.main-header .sidebar-toggle {
    padding: 0px 15px;
}

.FMS-title-block {
    color: #333;
    font-weight: 700;
}

#legend {
    font-family: 'Roboto', sans-serif;
    opacity: 0.8;
    background: #fff;
    padding: 10px 30px;
    margin: 10px;
    border: 1px solid #ccc;
}

    #legend h3 {
        margin-top: 0;
        font-size: 30px;
    }

    #legend img {
        vertical-align: middle;
    }

    #legend > div {
        font-size: 13px;
        padding: 10px 0;
    }

    #legend img {
        padding-right: 8px;
        vertical-align: middle;
        width: 35px;
    }

.dataTables_length select {
    display: block;
}

.dataTables_length label {
    width: 100px;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 5px;
    margin-top: 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

td,
th {
    padding: 0px 5px;
}

.FMS-tablewrap {
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
}

.FMS-icons {
    height: 24px;
}

.box {
    /*margin-bottom: 0;*/
    border: 1px solid #ccc;
    border-radius: 0px;
}

.content-wrapper,
.right-side {
    background-color: #ff;
}

.content-wrapper,
.right-side {
    background-color: #fff;
}

.box-header > .box-tools {
    right: 4px;
    top: 3px;
}

.btn,
.btn-large,
.btn-flat {
    padding: 0 1rem;
}

.accordians .row {
    margin-bottom: 5px;
}

    .accordians .row .box {
        background: none;
    }

    .accordians .row:nth-child(odd) {
        background: #eceff1;
    }

/* grid table css */
.accordians .box-body div table {
    background: #fff none repeat scroll 0 0;
}

.accordians .box-body {
    padding: 0;
    background: #fff;
}

    .accordians .box-body div table th,
    .accordians .box-body div table td,
    .pop_box table th,
    .pop_box table td {
        padding: 10px 5px;
        vertical-align: top;
    }

    .accordians .box-body div table th, .pop_box table th {
        border-bottom: 1px solid #eceff1;
    }

    .accordians .box-body div table th,
    .accordians .box-body div table tr:nth-child(odd),
    .pop_box table th,
    .pop_box table tr:nth-child(odd) {
        background: #eceff1;
    }

    .accordians .box-body div table th, .pop_box table th, .pop_box table th {
        background: #ee9800 none repeat scroll 0 0 !important;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 10px 5px;
    }

.box.accordians {
    border: 0 none;
}

.accordians button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #607d8b;
}

.accordians .btn:focus,
.btn-large:focus,
.btn-floating:focus {
    background: none;
}

.accordians .btn:hover {
    background: #b0bec5;
    border: 1px sold #90a4ae;
}

a {
    color: #0000ff;
    font-weight: bold;
    cursor: pointer;
}

    a:hover {
        /*text-decoration: underline; 14-12-2017
	 color: #0000ff;*/
    }

.graph_container #feedercontainer {
    height: 335px;
    position: relative;
    top: -60px;
}

.graph_container {
    height: 230px;
    overflow: hidden;
    width: 100%;
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px;
}

.search_container select,
.search_container input {
    display: block;
}

.search_container select {
    height: 38px;
}

.search_btn,
.search_btn:hover {
    background: #ee9800;
    color: #fff;
}

input:focus:not([type]):not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ee9800;
}

.user-panel .image,
.user-panel > .image > img {
    height: 69px;
    width: 70px;
}

.signout {
    display: block;
    padding: 8px 0;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
    background: #d07a00;
    text-decoration: none;
}

.navbar {
    box-shadow: none;
    background: #ee9800 !important;
}

.main-header {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.skin-green .main-header .logo {
    background: #ee9800 !important;
}

.sidebar-toggle {
    font-size: 25px;
}

.product_logo {
    float: right;
    margin-right: 19%;
}

.main-header .logo {
    padding-top: 5px;
    text-align: left;
}

.skin-green .sidebar-menu > li > a:hover {
    border-left: 3px solid #ee9800;
    margin-right: 1px;
}

.form-control {
    font-size: 13px;
    height: 27px;
}

label {
    color: #666;
    font-size: 13px;
}

.signout i {
    color: #ff0000;
}

.online i {
    color: #00e676;
}


.green {
    background: #90ed7d;
}

.orange {
    background: #f7a35c;
}

.yellow {
    background: #e4d354;
}

.red {
    background: #f45b5b;
}

.blue {
    background: #22b8f4;
}

.bfnt {
    font-weight: bold;
    font-size: 15px;
}


.infoclass {
    font-family: Roboto, sans-serif;
    color: #333;
}

.text_rightalign {
    text-align: right;
}

.accordians button i {
    font-size: 15px;
}

.box.db_sections > h2 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    border: none;
}

.box.db_sections {
    margin-bottom: 13px;
    padding: 10px;
}

/* popup related CSS comes here */
.pop_box {
    padding: 10px;
}

.pop_bredcrumb span {
    font-weight: bold;
}

.pop_bredcrumb {
    padding: 5px;
    border: 1px solid #999;
    background: #eee;
    margin-bottom: 5px;
}

.box.pop_searcharea {
    margin: 10px 0;
    display: table;
    padding: 10px 0 15px 0;
}

.pop_box input[type="text"] {
    margin: 0;
    height: 18px;
    width: 85%;
}

.pop_box input {
    margin: 0 !important;
}

.pop_box .row {
    margin: 0;
}

.pop_searcharea .search_btn {
    border: 0px;
    padding: 10px;
    position: relative;
    /*top: 30px;*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    outline: none;
}

.search_btn {
    border: 0px;
    padding: 10px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    outline: none;
}

.pop_box h2 {
    margin: 0 0 10px 0;
    color: #ee9800;
    font-size: 25px;
}

.pop_searcharea .ui-datepicker-trigger {
    margin: 0 5px;
    width: 28px;
    position: absolute;
    height: 28px;
}

.search_btn.back_btn {
    float: right;
    font-size: 13px;
    padding: 4px 15px;
}

.actions img {
    width: 18px;
}

#cboxClose {
    top: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #ee9800 !important;
}

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover {
        border-top-color: #ee9800 !important;
    }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ee9800 !important;
    color: #000 !important;
    border-color: #ee9800 !important;
}

.pagination > li > a, .pagination > li > span {
    color: #ee9800 !important;
}
/* grid pagination styles  */

.grid_pagination {
    background: #ccc !important;
    border-top: 1px solid #999;
}

    .grid_pagination td {
        padding: 0 !important;
    }

    .grid_pagination a {
        padding: 10px;
    }

a.aspNetDisabled {
    color: #999;
    text-decoration: none;
}

a.LinkPaging {
    padding: 10px 20px;
}

.grid_rt {
    text-align: right;
}

.grid_c {
    text-align: center;
}

.grid_lt {
    width: 150px;
}

.client_logo > img {
    max-width: 500px;
    width: 80%;
}

.client_logo {
    text-align: center;
}

.silverjubilee {
    max-height: 40px;
}

.box-header .box-title {
    padding-right: 40px;
    line-height: 22px;
}

.PhaseExcel, .PhasePdf {
    max-height: 25px;
}

.exportimports_mainpage {
    float: right;
    padding-right: 40px;
}

.export_imports {
    float: right;
    padding-right: 25px;
}

    .export_imports > input {
        max-height: 25px;
    }

.page_legend {
    margin: 20px 0;
    padding: 0 20px;
}

.page_legends div {
    float: left;
}

.legend_label {
    padding: 0 15px;
}

.page_legend h3 {
    font-size: 18px;
    margin: 15px 0;
}

.page_legends {
    display: table;
    width: 100%;
}

.legends {
    width: 30px;
    height: 20px;
}

.green_legend {
    background: #00A439;
}

.orange_legend {
    background: #DCAE23;
}

.yellow_legend {
    background: #FFFD01;
}

.red_legend {
    background: #EC4143;
}

.gray_legend {
    background: #ccc;
}

.reports_section .reportbtn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #333;
    display: table;
    font-size: 18px;
    font-weight: normal;
    height: auto;
    padding: 10px;
    text-align: left;
    width: 100%;
}

    .reports_section .reportbtn:nth-child(2n+1) {
        background: #eceff1 none repeat scroll 0 0;
    }

.info a {
    font-size: 12px !important;
    line-height: 23px;
}

.user-panel > .info {
    padding: 5px 5px 5px 9px;
}

.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {
    background: #000;
}

.sidebar-menu > li > a {
    padding: 12px 5px 5px 15px;
    display: block;
    color: #fff !important;
}

.substation_data h2 {
    margin-top: 0;
}

.phone_field img {
    max-width: 20px;
    padding-right: 5px;
}

.pop_box h4 {
    padding: 0 5px;
}

.date_sec input {
    margin: 0;
}

.pop_box table th, .pop_box table td {
    white-space: nowrap;
}
/* masonry css*/
.box-body.gridtable {
    display: table;
    width: 100%;
}

.substation_box {
    padding: 10px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

    .substation_box h3 {
        margin: 0 0 5px 0;
        font-size: 18px;
        color: #000;
        /*border-radius: 4px;*/
        /*background:rgba(255,255,255,0.3);*/
        border-bottom: 3px double #7d747b;
        padding: 2px 5px;
        float: left;
    }

    .substation_box ul {
        margin: 0;
    }

        .substation_box ul li a {
            padding: 3px 0;
            display: table;
            width: 100%;
            color: #000;
            cursor: pointer;
        }

/* Large screen fixes CSS */
@media only screen and (min-width: 780px) {

    label {
        margin-top: 6px;
        margin-bottom: 0px;
        padding: 5px 0;
    }

    .grid_table div, .pop_grid div {
        /*overflow-x: auto; 17-12-2017*/
    }

    .pop_searcharea label {
        display: block;
    }

    .pop_searcharea .search_btn {
        /*top: 30px;*/
    }
}

/* Tablet landscape  CSS */
@media only screen and (max-width: 1024px) {
    .product_logo {
        margin-right: 25%;
    }

    span.client_logo {
        margin-left: 24%;
    }

    .grid_table div, .pop_grid div {
        /*overflow-x: auto;*/
    }
}

/* Tablet  CSS */
@media only screen and (min-width: 0) and (max-width: 780px) {
    .product_logo {
        margin-right: 32%;
    }

    span.client_logo {
        margin-left: 16%;
    }

    label {
        margin-top: 6px;
        margin-bottom: 0px;
        padding: 5px 0;
    }

    .form-control {
        height: 34px;
    }
}

/* Mobile  CSS */
@media only screen and (min-width: 0) and (max-width: 767px) {

    label {
        margin-top: 6px;
        margin-bottom: 0px;
        padding: 5px 0;
    }

    .grid_table div, .pop_grid div {
        /*overflow-x: auto;*/
    }

    .pop_searcharea label {
        display: block;
    }

    .pop_searcharea .search_btn {
        top: 8px;
    }

    .form-control {
        height: 34px;
    }

    .main-header img {
        float: left;
    }

    .sidebar-toggle {
        position: absolute;
        top: -65px;
        right: 0;
    }

    .product_logo {
        float: left;
        margin-left: 20px;
        margin-right: 0;
        padding-top: 5px;
    }

    .main-header {
        display: table;
        width: 100%;
    }

    .product_logo img {
        max-height: 15px;
    }

    .main-header > .navbar {
        min-height: 35px;
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 35px;
        line-height: 35px;
    }

    .client_logo img {
        max-height: 35px;
        padding-right: 10px;
    }

    .client_logo {
        float: right;
        position: relative;
        top: -10px;
    }

    .box-header .box-title {
        font-size: 16px;
        line-height: 22px;
    }

    .nomobile {
        display: none;
    }

    .search_sec label {
        display: table;
        width: 100%;
    }

    .search_sec .select2 {
        display: table;
        width: 100%;
    }
}
/* Mobile portrait  CSS */
@media only screen and (max-width: 380px) {
    .substation_box {
        width: 95%;
        max-width: 95%;
        min-width: 95%;
    }

    .pop_box table td { /*display: list-item;*/
        list-style: none;
    }

    .pop_searcharea .col-md-12.search_sec {
        padding: 0;
    }
}


/* tab pages header feeder */
.feeder_data h2 {
    margin: 0 0 10px 0;
    color: #ee9800;
    font-size: 25px;
    padding-left: 30px;
}

.fedder_header {
    background-image: url("../images/tap_header_image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    /*margin-left: 0px !important;*/
}

/* analysis page date */
.Date_size {
    font-size: 15px !important;
}
/* main page substations arrow*/
.box-title1 {
    font-size: 18px;
}

.download_icons {
    font-size: 20px;
    color: #000;
    padding: 0px 0px 0px 35px;
}

.analysis_table_heading {
    background-color: #fff !important;
    color: #0b0bad;
}

.date_go_btn {
    line-height: 1px;
    height: 28px;
    border-radius: 5px;
    outline: none;
    /*margin-left:13px;*/
}

.feed_date_input {
    width: 75% !important;
}

/* Main page accordians css  */

.db_sections div div {
    margin-bottom: 0px;
}


/* Main page Filters(dropdown) */
.select2-container {
    width: 100% !important;
}

.select2-results {
    margin-top: -15px;
}

/* Main page Datepicker custom css */

.ui-datepicker-header {
    background: #fff;
    border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #fff;
    border: none;
    padding: 6px;
    text-align: center;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #ee9800;
    border-radius: 50px;
    color: #fff;
}

/* Analysis Page Go button  */
.analysis_go_btn {
    border-radius: 5px;
    height: 30px;
    line-height: 1px;
    top: 16px;
}

.map_icon {
    width: 42px;
}

.main_grap {
    margin-top: -6px !important;
    padding-right: 0px !important;
}

.scroll_top {
    position: fixed;
    bottom: 6px;
    right: 8px;
    padding: 5px;
    background-color: #ee9800;
    height: 29px;
    z-index: 99;
}

    .scroll_top i {
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        line-height: 16px;
    }

.submit_button_popup {
    margin-top: 30px;
}

.graph_image_icon {
    position: relative;
    left: 10px;
}
/* Drop down hover color*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #ee9800 !important;
    outline: 0;
}

.date_sec input {
    /*width:10%;*/
    width: 15%;
}

.date_sec img {
    height: 31px;
    margin-top: -6px;
    width: 31px;
    margin-left: 4px;
}

#breadcrumb1 {
    list-style: none;
    display: inline-block;
    margin-bottom: -13px;
}

    #breadcrumb1 .icon {
        font-size: 14px;
    }

    #breadcrumb1 li {
        float: left;
    }

        #breadcrumb1 li a {
            color: #FFF;
            display: block;
            background: #ee9800;
            text-decoration: none;
            position: relative;
            height: 40px;
            line-height: 40px;
            padding: 0 10px 0 5px;
            text-align: center;
            margin-right: 23px;
        }

        #breadcrumb1 li:nth-child(even) a {
            background-color: #f1af3b;
        }

            #breadcrumb1 li:nth-child(even) a:before {
                border-color: #f1af3b;
                border-left-color: transparent;
            }

            #breadcrumb1 li:nth-child(even) a:after {
                border-left-color: #f1af3b;
            }

        #breadcrumb1 li:first-child a {
            padding-left: 15px;
            -moz-border-radius: 4px 0 0 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px 0 0 4px;
        }

            #breadcrumb1 li:first-child a:before {
                border: none;
            }

        #breadcrumb1 li:last-child a {
            padding-right: 15px;
            -moz-border-radius: 0 4px 4px 0;
            -webkit-border-radius: 0;
            border-radius: 0 4px 4px 0;
        }

            #breadcrumb1 li:last-child a:after {
                border: none;
            }

        #breadcrumb1 li a:before, #breadcrumb1 li a:after {
            content: "";
            position: absolute;
            top: 0;
            border: 0 solid #ee9800;
            border-width: 20px 10px;
            width: 0;
            height: 0;
        }

        #breadcrumb1 li a:before {
            left: -20px;
            border-left-color: transparent;
        }

        #breadcrumb1 li a:after {
            left: 100%;
            border-color: transparent;
            border-left-color: #ee9800;
        }

/*.active::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 42%;
    border-width: 10px;
    border-style: solid;
    border-color: #ee9800 transparent transparent transparent;
}*/

.tabs_nav_pills {
    background-color: #ddd;
}

    .tabs_nav_pills li {
        width: 130px;
        text-align: center;
    }

.nav-tabs > li.active > a {
    background-color: #ee9800 !important;
    color: #fff !important;
    border: 1px solid #ee9800 !important;
    position: relative;
}

    .nav-tabs > li.active > a::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 42%;
        border-width: 10px;
        border-style: solid;
        border-color: #ee9800 transparent transparent transparent;
    }

.nav-tabs > li > a {
    color: #000;
    padding: 12px;
}

.tabs_nav_menu li {
    width: 100% !important;
    text-align: left !important;
}

.no-print {
    display: none;
}

.substaion_fa_icons {
    font-size: 22px;
    font-weight: bold;
}

.buttons_cal_image {
    border: none;
    background-color: transparent;
}

/*.gridListdemoDynamicTiles .color_a {
    background: #efcaa3 !important;
}

.gridListdemoDynamicTiles .color_b {
    background: #8bbadc !important;
}

.gridListdemoDynamicTiles .color_c {
    background: #b3b3ea !important;
}

.gridListdemoDynamicTiles .color_d {
    background: #218abb59 !important;
}

.gridListdemoDynamicTiles .color_e {
    background: #d1d160eb !important;
}

.gridListdemoDynamicTiles .color_f {
    background: #856da5bf !important;
}

.gridListdemoDynamicTiles .color_g {
    background: #856da5bf !important;
}

.gridListdemoDynamicTiles .color_h {
    background: #856da5bf !important;
}

.gridListdemoDynamicTiles .color_i {
    background: #856da5bf !important;
}

.gridListdemoDynamicTiles .color_j {
    background: #856da5bf !important;
}*/


/* Substation - Feeders Colors */
.gridListdemoDynamicTiles .color_a {
    background: #ff8a80a6 !important;
}

.gridListdemoDynamicTiles .color_b {
    background: #80d8ff94 !important;
}

.gridListdemoDynamicTiles .color_c {
    background: #80d8ff9c !important;
}

.gridListdemoDynamicTiles .color_d {
    background: #84ffff99 !important;
}

.gridListdemoDynamicTiles .color_e {
    background: #ff80ab75 !important;
}

.gridListdemoDynamicTiles .color_f {
    background: #fbaf837d !important;
}

.gridListdemoDynamicTiles .color_g {
    background: #b388ff94 !important;
}

.gridListdemoDynamicTiles .color_h {
    background: #448aff7d !important;
}

.gridListdemoDynamicTiles .color_i {
    background: #8c9effab !important;
}

.gridListdemoDynamicTiles .color_j {
    background: #ffff8d !important;
}






/* Substation - Feeders Colors */

.substation_head h3 {
    color: #000;
    border-bottom: 3px double black;
    font-weight: bold;
}

.feeder_name {
    color: #ee9800;
    border-bottom: 2px solid #ee9800;
}

.feeder_box h4 {
    padding: 0px 5px;
    font-weight: bold;
}

.table {
    margin-bottom: 0px !important;
}

.table_backcolor > tbody > tr:nth-of-type(odd) {
    background-color: #eceff1;
}

.table_backcolor > tbody > tr > td {
    font-size: 14px;
}
/*.md-active{
    background-color:#ee9800;
}*/
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    background: #ee9800;
    color: #fff;
    font-weight: bold;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    background: #ee9800;
}

.ui-grid-filter-input {
    padding: 0px 0px 0px 0px !important;
    border: 1px solid #ee9800 !important;
    background: #fff !important;
}

.ui-grid-header-cell-primary-focus {
    background: #ee9800;
}

.ui-grid-menu-button {
    width: 30px;
    height: 28px !important;
    background: #332d2d !important;
    color: #fff;
}

.ui-grid-icon-container {
    /*margin-top: 5px;*/
    margin-left: 5px !important;
}

.grid_table {
    height: 420px !important;
}

.ui-grid-viewport {
    overflow: auto !important;
}

abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
}

.ui-grid-pager-panel {
    bottom: -10px !important;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    vertical-align: middle !important;
}

/*.ui-grid-menu .ui-grid-menu-inner ul li button:hover, .ui-grid-menu .ui-grid-menu-inner ul li button:focus {
    -webkit-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
    color: #f9a106;
    box-shadow: inset 0 0 14px rgb(238, 152, 0) !important;
}*/
.ui-grid-menu .ui-grid-menu-inner ul li button:hover, .ui-grid-menu .ui-grid-menu-inner ul li button:focus {
    background-color: #ee9800 !important;
    color: #fff !important;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
    overflow: auto !important;
}

.ui-grid-menu-mid {
    max-height: 340px !important;
}

.uib-daypicker table tbody tr td button.active {
    background-color: #ee9800 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 50px;
}

.uib-daypicker table tbody tr td button {
    outline: none !important;
    padding: 7px;
}

.uib-datepicker-popup:focus {
    outline: none !important;
}

.uib-datepicker {
    outline: none !important;
}

.btn-info {
    color: #fff;
    background-color: #fff;
    border: none;
}

.uib-daypicker table tbody tr th button:hover {
    background-color: transparent !important;
    border: none !important;
}

.uib-button-bar {
    display: none;
}

.reports_buttons input {
    width: 100%;
    text-align: left;
    padding: 8px;
    margin: 0 0 10px 0;
    font-size: 18px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    white-space: normal;
    outline: 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

    .reports_buttons input:nth-child(2n+1) {
        background: #eceff1 none repeat scroll 0 0;
    }

    .reports_buttons input:hover {
        background-color: #ee9800 !important;
        color: #fff !important;
        border: 1px solid #fff;
    }

.substation_hesd_name {
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.feeder_hesd_name {
    cursor: pointer;
    font-size: 14px;
}

#username {
    color: #fff;
    padding-left: 8px;
}

.table_td_head {
    background-color: #fff;
    font-size: 20px !important;
    color: #ee9800;
}

#tblLogSupply thead tr, #tblLogTripping thead tr {
    background-color: #ee9800;
}

#tblLogSupply > tbody > tr:nth-of-type(odd), #tblLogTripping > tbody > tr:nth-of-type(odd) {
    background-color: #eceff1;
}

#tblLogSupply {
    border: 1px solid #ddd;
}
#tblLogSupply thead tr th, #tblLogTripping thead tr th{
   border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    color: #000;
 }
.butt1 {
    border: none;
    background: url(/images/excel.png);
    padding: 9px 22px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding-right: 4px;
    padding-bottom: 5px;
}

.butt {
    border: none;
    background: url(/images/pdf.png);
    padding: 9px 22px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding-right: 4px;
    padding-bottom: 5px;
}

.dt-buttons button {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
.buttons-excel{
    position: relative;
    left: 20px;
}

#tblLogSupply tbody tr td {
    white-space: pre;
}

#tblLogSupply_filter, #tblLogTripping_filter {
    float: left !important;
    margin: -13px 0px 0px 6px;
}

    #tblLogSupply_filter label input, #tblLogTripping_filter label input {
        height: 29px;
        -webkit-appearance: textfield;
    }

.dt-buttons {
    float: right !important;
}

.instant_check_box div label input {
    position: absolute;
    top: 18px;
    left: -4px;
}

.instant_check_box div {
    float: left;
    padding-left: 60px;
}

.instant_check_box {
    position: relative;
    top: -13px;
}

    .instant_check_box div label input[type="checkbox"] {
        width: 17px;
        height: 17px;
    }
    .instant_table_data{
        padding:10px;
    }
    .instant_check_box_td{
        background-color:#fff;
        margin-left:0px;
        margin-right:0px;
    }
  .instant_Reading_date tr td{
            text-align:center;
  }
  .instant_Reading_date tr:nth-of-type(odd){
             background-color: #cccccc;
  }
   .instant_Reading_date tr:nth-of-type(even){

        background-color: #eceff1;
  }