﻿ .grid {
            width: 500px;
            /* height: 250px;*/
        }

        /* CSS to define autoHeight */
        .autoHeightUIGrid,
        .autoHeightUIGrid .ui-grid-viewport {
            height: auto !important;
        }


        .ui-grid-spilt-header-main {
            /* padding-top: 75px; */ /* added top padding dynamically by Js */
            line-height: 30px;
            text-align: center;
        }

        .ui-grid-split-merge-header {
            border-left: 2px solid transparent;
            position: absolute;
            background: #f3f3f3;
            text-align: center;
            line-height: 30px;
            z-index: 1;
            top: 0px;
            left: 0px;
        }

        .ui-grid-header-table {
            width: 100%;
            padding: 0px;
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
        }

            .ui-grid-header-table tr td {
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }

                .ui-grid-header-table tr td:last-child {
                    border-right: none;
                }