﻿<!DOCTYPE html>
<html ng-app="myapp" ng-controller="feederMasterController">
<head>
    <base href="/" />
    <title>Feeder Master Data For {{meterno}}</title>
    <style>
        .grid {
            width: 1550px !important;
            height: 400px !important;
        }

        .my-custom-menu {
            position: absolute;
        }

            .my-custom-menu .ui-grid-menu {
                padding: 0px;
            }

            .my-custom-menu .ui-grid-menu-inner {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        .rotated {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }

        .ui-datepicker-trigger {
            position: absolute;
            margin-top: -31px;
            right: 15px;
            border: none;
            background-color: transparent;
        }

        .ng-valid {
            border-left: 2px solid #090;
        }

        .ng-invalid {
            border-left: 2px solid #900;
        }

        .well {
            background-color: #fff !important;
        }

        .datepicker_textbox {
            width: 80% !important;
            height: 32px !important;
        }

        .ui-datepicker-trigger {
            font-size: 23px;
            color: #ee9800;
            outline: none;
        }

        .ui-grid-pager-panel {
            bottom: 0px !important;
        }

        .ui-grid-pager-panel {
            padding-bottom: 15px !important;
        }

        .ui-datepicker-trigger img {
            margin-top: -10px !important;
        }

        .highcharts-range-selector-buttons text:first-child, .highcharts-range-label text, .highcharts-range-input text tspan {
            fill: #fff !important;
        }

        .highcharts-subtitle {
            display: none;
        }

        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

            /* Transparent Overlay */
            .loading:before {
                content: '';
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.3);
            }

        .ui-grid-header-viewport .table {
            table-layout: fixed;
            margin-bottom: 0;
            border-width: 0 0 0 1px;
        }

            .ui-grid-header-viewport .table.table-bordered > thead > tr > th:last-child {
                //border-right-width: 2px;
            }

            .ui-grid-header-viewport .table.table-bordered > thead > tr > th {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                border-width: 1px 1px 0 0;
                border-style: solid;
                border-color: #cecece;
                text-align: center;
                vertical-align: middle;
                min-height: 35px;
            }
    </style>

    <script src="js/jquery-1.10.2.js"></script>

    <link rel="Stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/FMSCustom.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />

    <script src="js/jquery-ui-min-1.12.0.js"></script>
    <script src="js/bootstrap-3.3.6.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-touch.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-aria.js"></script>
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src="js/moment.js"></script>
    <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="Scripts/angular-material.min.js"></script>


    <script src="uiGrid/csv.js"></script>
    <script src="uiGrid/pdfmake.js"></script>
    <script src="uiGrid/vfs_fonts.js"></script>
    <script src="uiGrid/lodash.min.js"></script>
    <script src="uiGrid/jsZip.min.js"></script>
    <script src="uiGrid/excel-builder.dist.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="Scripts/angular-sanitize.js" type="text/javascript"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>
    <script src="js/ngToast.min.js"></script>
    <!--<script src="app/feederMaster1.js"></script>-->

    <!--<Data Tables>-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="DataTable/buttons.html5.min.js.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

    <!--These three urls for download div as image-->
    
    <script src="js/canvas.js"></script>
    <script src="js/pMake.js"></script>
    <script src="js/vfs_fonts.js"></script>

    <script src="app/feederMaster.js"></script>
    <script src="app/datePickerDirective.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">


            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs_nav_pills" role="tablist">
                <li class="active"><a href="#fdrDetails" role="tab" data-toggle="tab">Feeder Details</a></li>
                <li><a href="#analysis" role="tab" data-toggle="tab">Analysis</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">LogBook <b class="caret"></b></a>
                    <ul class="dropdown-menu tabs_nav_menu">
                        <li><a href="#fdrEnergy" role="tab" data-toggle="tab">Feeder Energy</a></li>
                        <li><a href="#fdrSupply" role="tab" data-toggle="tab">Feeder Supply</a></li>
                        <li><a href="#fdrTripping" role="tab" data-toggle="tab">Feeder Tripping</a></li>
                    </ul>
                </li>
                <li><a href="#instant" role="tab" data-toggle="tab">Instants</a></li>
                <li><a href="#events" role="tab" data-toggle="tab">Events</a></li>
                <li><a href="#blockLoadprofile" role="tab" data-toggle="tab">LoadProfile</a></li>
                <li><a href="#daily" role="tab" data-toggle="tab">Daily</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Grpahs <b class="caret"></b></a>
                    <ul class="dropdown-menu tabs_nav_menu">
                        <li><a href="#supply1" role="tab" data-toggle="tab">Voltage</a></li>
                        <li><a href="#supply2" role="tab" data-toggle="tab">Current</a></li>
                        <li><a href="#supply3" role="tab" data-toggle="tab">Power Factor</a></li>
                        <li><a href="#supply4" role="tab" data-toggle="tab">Energy</a></li>
                        <li><a href="#supply5" role="tab" data-toggle="tab">Load</a></li>
                        <li><a href="#supply" role="tab" data-toggle="tab">Monthly Supply</a></li>
                    </ul>
                </li>

            </ul>

        </div>
        <!-- Tab panes -->
        <div class="tab-content">

            <div class="tab-pane active" id="fdrDetails">
                <div ng-include="'frmDetails.html'"></div>
            </div>

            <div class="tab-pane" id="analysis">
                <div ng-include="'frmAnalysis.html'"></div>
            </div>

            <div class="tab-pane" id="fdrEnergy">
                <div ng-include="'frmLogEnergy.html'"></div>
            </div>

            <div class="tab-pane" id="fdrSupply">
                <div ng-include="'frmLogSupply.html'"></div>
            </div>

            <div class="tab-pane" id="fdrTripping">
                <div ng-include="'frmLogTripping.html'"></div>
            </div>

            <div class="tab-pane" id="instant">
                <div ng-include="'frmInstants.html'"></div>
            </div>

            <div class="tab-pane" id="events">
                <div ng-include="'frmEvents.html'"></div>
            </div>

            <div class="tab-pane" id="blockLoadprofile">
                <div ng-include="'frmBlockLoad.html'"></div>
            </div>

            <div class="tab-pane" id="daily">
                <div ng-include="'frmDailyLoad.html'"></div>
            </div>

            <div class="tab-pane" id="supply1">
                <div ng-include="'frmVoltageGraph.html'"></div>
            </div>

            <div class="tab-pane" id="supply2">
                <div ng-include="'frmCurrentGraph.html'"></div>
            </div>

            <div class="tab-pane" id="supply3">
                <div ng-include="'frmPowerGraph.html'"></div>
            </div>

            <div class="tab-pane" id="supply4">
                <div ng-include="'frmEnergyGraph.html'"></div>
            </div>

            <div class="tab-pane" id="supply5">
                <div ng-include="'frmLoadProfileGraph.html'"></div>
            </div>

            <div class="tab-pane" id="supply">

                <div ng-include="'frmMonthSupply.html'"></div>
            </div>

        </div>


    </div>

</body>
</html>
