﻿<br />
<div class="row fedder_header">
    <div class="col-md-3">
        <label class="FMS-title-block">Feeder Name : {{feederName}}</label>

    </div>
    <div class="col-md-3">
        <label class="FMS-title-block">Feeder Type : {{feederType}} </label>

    </div>
    <div class="col-md-3">
        <label class="FMS-title-block">Area : {{area}}</label>

    </div>
    <div class="col-md-3">
        <label class="FMS-title-block">Substation : {{substation}}</label>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="feeder_name">
            Analysis Report

        </h2>
    </div>
</div>
<br />

<div ng-controller="analysisControler">
    <div class="box">
        <div class="row" style="margin-left:0px;">
            <!--<div class="col-md-1"></div>-->
            <div class="col-md-2">
                <label>From Date:</label>
                <input type=text id="txtFrmDate" date-picker placeholder='MM/DD/YYYY' maxlength="10" ng-required='true' class='form-control datepicker_textbox' ng-model='model3.startDate' max-date='{{model3.toDay}}'>
            </div>
            <div class="col-md-2">
                <label>To Date:</label>
                <input type=text id="txtToDate" date-picker placeholder='MM/DD/YYYY' maxlength="10" ng-required='true' class='form-control datepicker_textbox ddd' ng-model='model3.endDate' min-date='{{model3.startDate}}' max-date='{{model3.toDay}}'>
            </div>
            <div class="col-md-2" style="margin-top:1%;">
                <input type="button" class="btn search_btn analysis_go_btn" value="GO" ng-click="goFunction()" />
            </div>


        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table_backcolor">
                        <tbody>
                            <tr>
                                <td colspan="6" class="table_td_head">Demand in kW</td>
                            </tr>
                            <tr>
                                <td><b>Maximum</b></td>
                                <td>{{maxMDKw}}</td>
                                <td><b>Minimum</b></td>
                                <td>{{MinMDKw}}</td>
                                <td><b>Average</b></td>
                                <td>{{AvgMdKW}}</td>
                            </tr>

                            <tr>
                                <td colspan="6" class="table_td_head"> Energy Consumption</td>
                            </tr>
                            <tr>
                                <td><b>kVAh</b></td>
                                <td>{{kVAh}}</td>
                                <td><b></b></td>
                                <td>{{kVArh_lag}}</td>
                                <td><b>kVArh Lead</b></td>
                                <td>{{kVArh_lead}}</td>
                            </tr>
                            <tr>
                                <td><b>Three Phase Consumption (kWh)</b></td>
                                <td>{{Three_ph}}</td>
                                <td><b>Single Phase Consumption (kWh)</b></td>
                                <td>{{Single_ph}}</td>
                                <td><b>Total (kWh)</b></td>
                                <td>{{kWh}}</td>
                            </tr>
                            <tr>
                                <td><b>Ag Consumption (kWh)</b></td>
                                <td>{{AG_Cons}}</td>
                                <td><b>DL Consumption (kWh)</b></td>
                                <td>{{DL_Cons}}</td>
                                <td><b>Total (kWh)</b></td>
                                <td>{{AG_DG_Total}}</td>
                            </tr>

                            <tr>
                                <td colspan="6" class="table_td_head">Power Factor</td>
                            </tr>
                            <tr>
                                <td><b>Maximum</b></td>
                                <td>{{maxPF}}</td>
                                <td><b>Minimum</b></td>
                                <td>{{minPF}}</td>
                                <td><b>Average</b></td>
                                <td>{{avgPF}}</td>
                            </tr>

                            <tr>
                                <td colspan="6" class="table_td_head"> Load in kVA</td>
                            </tr>
                            <tr>
                                <td><b>Maximum</b></td>
                                <td>{{MaxMDkVA}}</td>
                                <td><b>Minimum</b></td>
                                <td>{{minMDkVA}}</td>
                                <td><b>Average</b></td>
                                <td>{{AvgMDkVA}}</td>
                            </tr>

                            <tr>
                                <td colspan="6" class="table_td_head"> Power Quality</td>
                            </tr>
                            <tr>
                                <td><b>Max.Voltage (kV)</b></td>
                                <td>{{MaxVolt}}</td>
                                <td><b>Min.Voltage (kV)</b></td>
                                <td>{{MinVolt}}</td>
                                <td><b>Avg.Voltage (kV)</b></td>
                                <td>{{AvgVolt}}</td>
                            </tr>
                            <tr>
                                <td><b>Max.Current (Amps)</b></td>
                                <td>{{MaxCur}}</td>
                                <td><b>Min.Current (Amps)</b></td>
                                <td>{{MinCur}}</td>
                                <td><b>Avg.Current (Amps)</b></td>
                                <td>{{AvgCur}}</td>
                            </tr>

                            <tr>
                                <td colspan="6" class="table_td_head">Power Reliability</td>
                            </tr>
                            <tr>
                                <td><b>Total No.of Interruptions</b></td>
                                <td colspan="5">{{TotalInt}}</td>
                            </tr>
                            <tr>
                                <td><b>Total Interruption Duration (dd HH:mm:ss)</b></td>
                                <td colspan="5">{{TotalIntDur}}</td>
                            </tr>
                            <tr>
                                <td><b>Highest Interruption Duration (dd HH:mm:ss)</b></td>
                                <td colspan="5">{{HighDur}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <b> Lowest Interruption Duration (dd HH:mm:ss)</b>
                                </td>
                                <td colspan="5">{{lowDur}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>