﻿<div ng-controller="blockLoadController">
    <br />
    <div class="row fedder_header">
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Name : {{feederName}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Type : {{feederType}} </label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Area : {{area}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Substation : {{substation}}</label>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="feeder_name">
                Load Survey Data

            </h2>
        </div>
    </div>
    <br />
    <div>
        <div style="overflow-x:scroll; overflow-y:hidden;">
            <div id="grid1" ui-grid-exporter ui-grid-pagination ui-grid="blockLoadgridOptions" class="grid"></div>
        </div>
    </div>
</div>