﻿<div class="col-md-12">
    <div >
        <div id="danceforme" class="loading">
            I am dancing
        </div>
        <h2 class="feeder_name">
            Feeder Details
            <div id="divFeederData" class="exportimports_mainpage main_grap">
                <a>
                    <img src="images/graph.gif" title="Graph" class="graph_image_icon">
                </a>
                <a>
                    <img src="images/map_logo.png" ng-click="openMap()" class="map_icon" title="Map">
                </a>
            </div>
        </h2>

        <div class="box feeder_box">
            <h4>Feeder Hierarchy:</h4>
            <div class="table-responsive">
                <table class="table table-hover table_backcolor">

                    <tbody>
                        <tr>
                            <td><b>Zone</b></td>
                            <td>{{zone}}</td>
                            <td><b>CE Name</b></td>
                            <td>{{ce_name}}</td>
                            <td><b>{{ce_ph}}</b></td>
                        </tr>
                        <tr>
                            <td><b>Circle</b></td>
                            <td>{{circle}}</td>
                            <td><b>SE Name</b></td>
                            <td>{{se_name}}</td>
                            <td><b>{{se_ph}}</b></td>
                        </tr>
                        <tr>
                            <td><b>MLA</b></td>
                            <td>{{mla}}</td>
                            <td><b>MLA Name</b></td>
                            <td>{{mla_name}}</td>
                            <td><b>{{mla_ph}}</b></td>
                        </tr>
                        <tr>
                            <td><b>Division</b></td>
                            <td>{{division}}</td>
                            <td><b>XEN Name</b></td>
                            <td>{{xen_name}}</td>
                            <td><b>{{xen_ph}}</b></td>
                        </tr>
                        <tr>
                            <td><b>SubDivision</b></td>
                            <td>{{subdivision}}</td>
                            <td><b>	AEN Name</b></td>
                            <td>{{aen_name}}</td>
                            <td><b>{{aen_ph}}</b></td>
                        </tr>
                        <tr>
                            <td><b>JEN</b></td>
                            <td>{{jen}}</td>
                            <td><b>JEN Name</b></td>
                            <td>{{jen_name}}</td>
                            <td><b>{{jen_ph}}</b></td>
                        </tr>
                        <tr>
                            <td><b>Substation</b></td>
                            <td>{{substation}}</td>
                            <td><b>Feeder Number(UNIN)</b></td>
                            <td>{{feederName}}</td>
                            <td><b>{{substation_ph}}</b></td>
                        </tr>
                        <tr>
                            <td><b>Feeder Name</b></td>
                            <td>{{feederName}}</td>
                            <td><b>Feeder Incharge</b></td>
                            <td>{{fi_name}}</td>
                            <td><b>{{fi_ph}}</b></td>
                        </tr>
                        <tr>
                            <td><b>Feeder Type</b></td>
                            <td>{{feederType}}</td>
                            <td><b>Village</b></td>
                            <td>{{village}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Longitude</b></td>
                            <td>{{longitude}}</td>
                            <td><b>Latitude</b></td>
                            <td>{{latitude}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Area</b></td>
                            <td>{{area}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <h4>Feeder Meter & Modem Details:</h4>
            <div class="table-responsive">
                <table class="table table-hover table_backcolor">

                    <tbody>
                        <tr>
                            <td><b>Meter Number</b></td>
                            <td>{{meterno}}</td>
                            <td><b>Meter Type</b></td>
                            <td>{{metertype}}</td>
                            <td><b>	Meter Firmware</b></td>
                            <td>{{meterFirm}}</td>

                        </tr>
                        <tr>
                            <td><b>Year of Man</b></td>
                            <td>{{YOM}}</td>
                            <td><b>CT Ratio</b></td>
                            <td>{{ctr_inter}}</td>
                            <td><b>	PT Ratio</b></td>
                            <td>{{ptr_inter}}</td>
                        </tr>
                        <tr>
                            <td><b>MF</b></td>
                            <td>{{MF}}</td>
                            <td><b>SIM Number</b></td>
                            <td>{{modem_ph}}</td>
                            <td><b>Modem S.No</b></td>
                            <td>{{modem_sno}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>