﻿<div ng-controller="instantsController">
    <br />
    <div class="row fedder_header">
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Name : {{feederName}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Type : {{feederType}} </label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Area : {{area}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Substation : {{substation}}</label>

        </div>
    </div>
    <br />
    <div class="box">
        <div class="row instant_table_data">
            <div class="col-md-12">
                <h2 class="feeder_name">Instants Data</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <toast></toast>
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    <table class="table table-bordered table_backcolor">
                        <tbody>
                            <tr>
                                <th>Phase</th>
                                <th>Voltage(kV)</th>
                                <th>Current(Amps)</th>
                                <th>Power Factor</th>
                            </tr>
                            <tr>

                                <td><b>R</b></td>
                                <td>
                                    {{vr}}
                                </td>
                                <td>
                                    {{ir}}
                                </td>
                                <td>
                                    {{qr}}
                                </td>
                            </tr>
                            <tr>

                                <td><b>Y</b></td>
                                <td>
                                    {{vy}}
                                </td>
                                <td>
                                    {{iy}}
                                </td>
                                <td>
                                    {{qy}}
                                </td>
                            </tr>
                            <tr>
                                <td><b>B</b></td>
                                <td>
                                    {{vb}}
                                </td>
                                <td>
                                    {{ib}}
                                </td>
                                <td>
                                    {{qb}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="row instant_check_box_td">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 instant_check_box">
                                            <div class="item-checkbox" ng-repeat="item in itens">
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-model="item.checked" ng-click="updateSelection($index, itens, item.title)">
                                                </label>
                                                {{ item.title }}
                                            </div>

                                        </div>
                                        <div class="col-md-4"></div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div id="red" style="width: 190px; height: 280px; margin: 0"></div>
                                </td>
                                <td>
                                    <div id="yellow" style="width: 190px; height: 280px; margin: 0"></div>
                                </td>
                                <td>
                                    <div id="blue" style="width: 190px; height: 280px; margin: 0"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <tbody class="instant_Reading_date">
                            <tr>
                                <td colspan="4">
                                    <span><b>Reading Date and Time : {{readDate}}</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Total Active Power(kW)</b></td>
                                <td><b>Total Reactive Power(kVAr)</b></td>
                                <td><b>Total Apparent Power(kVA)</b></td>
                                <td><b>Frequency(Hz)</b></td>
                            </tr>
                            <tr>
                                <td>
                                    {{kw}}
                                </td>
                                <td>
                                    {{kvar}}
                                </td>
                                <td>
                                    {{kva}}
                                </td>
                                <td>
                                    {{freq}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody class="instant_Reading_date">
                            <tr>
                                <td colspan="4"><b>Cumulative Energies</b></td>
                            </tr>
                            <tr>
                                <td><b> Active Energy(kWh) </b></td>
                                <td><b>Reactive Energy-Lag(kVArh)</b></td>
                                <td><b>Reactive Energy-Lead(kVArh)</b></td>
                                <td><b>Apparent Energy(kVAh)</b></td>
                            </tr>
                            <tr>
                                <td>
                                    {{cumkWh}}
                                </td>
                                <td>
                                    {{cumkVArh_Lag}}
                                </td>
                                <td>
                                    {{cumkVArh_Lead}}
                                </td>
                                <td>
                                    {{CumkVAh}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>



            </div>


        </div>



    </div>

</div>








