﻿<div ng-controller="logTrippingConyroller">
    <br />
    <div class="row fedder_header">
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Name : {{feederName}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Type : {{feederType}} </label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Area : {{area}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Substation : {{substation}}</label>

        </div>
    </div>
    <br />
    <div class="box">
        <div class="row" style="margin-left:0px;">

            <div class="col-md-4"> </div>
            <div class="col-md-2">
                <label>Month & Year:</label>
                <input type="text" ui-date="trippingDateOpts" id="txtLogTripping" ng-model="txtLogTrippingDate" placeholder="DD-MM-YYYY" class='form-control datepicker_textbox' />
            </div>
            <div class="col-md-2" style="margin-top:16px;">
                <input type="button" ng-click="logTrippingClick()" value="GO" class="btn search_btn analysis_go_btn" />
            </div>
            <div class="col-md-4"> </div>

        </div>
        <br />
    </div>
    <br />

    <input type="button" value="PDF" ng-click="logTrippingPDF()" />

    <div class="box">
        <br />
        <table id="tblLogTripping">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">No.of Trippings during 3-Ph Supply Hrs</th>
                    <th colspan="2">No.of Trippings during 2-Ph Supply Hrs</th>
                    <th colspan="2">No.of Trippings during 1-Ph Supply Hrs</th>
                    <th colspan="2">No.of Trippings during Total Supply Hrs	</th>
                    <th colspan="2"></th>


                </tr>
                <tr>
                    <th>Date</th>
                    <th>Total</th>
                    <th>After Ignoring Tripping < 10 minutes</th>
                    <th>Total</th>
                    <th>After Ignoring Tripping < 10 minutes</th>
                    <th>Total</th>
                    <th>After Ignoring Tripping < 10 minutes</th>
                    <th>Total</th>
                    <th>After Ignoring Tripping < 10 minutes</th>
                    <th>Remarks</th>
                </tr>
            </thead>
        </table>
    </div>
</div>