﻿<div ng-controller="logEnergyController">
    <br />
    <div class="row fedder_header">
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Name : {{feederName}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Type : {{feederType}} </label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Area : {{area}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Substation : {{substation}}</label>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="feeder_name">
                11kV Feeder Energy LogBook

            </h2>
        </div>
    </div>
    <br />
    <div class="box">
        <div class="row" style="margin-left:0px;">
            <!--<div class="col-md-1"></div>-->
            <div class="col-md-4">

            </div>
            <div class="col-md-2">
                <label>To Date:</label>
                <input type="text" id="txtfromDate" ng-model="txtDate" placeholder="DD-MM-YYYY" class='form-control datepicker_textbox' />
            </div>
            <div class="col-md-2" style="margin-top:16px;">
                <input type="button" value="GO" class="btn search_btn analysis_go_btn" ng-click="goClick(txtDate)" />
            </div>


        </div>
        <br />
    </div>


    <br />
    <!--<div class="box">
        <div class="box pop_searcharea">
            <div class="col-md-12 search_sec ">
                <div id="divDate" runat="server">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">

                        <label>Select Date : </label>
                        <div class="form-group has-feedback">
                            <input type="text" id="txtfromDate" ng-model="txtDate" placeholder="dd-mm-yyyy" class="Date_size" />
                        </div>
                        <div class="col-md-5"></div>

                        <div>
                            <input type="button" value="Go" ng-click="goClick(txtDate)" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div style="overflow-x:scroll; overflow-y:hidden;">


        <div id="grid1" ui-grid-exporter ui-grid-pagination ui-grid="logChildGridOptions" class="grid"></div>



    </div>

    <div class="row">
        <table id="table2">
            <tr>
                <td>
                    <span id="d1">{{threePhaseCons}}</span>
                </td>
                <td>
                    <span id="d2">{{twoPhaseCons}}</span>
                </td>
                <td>
                    <span id="d3">{{singlePhaseCons}}</span>
                </td>
            </tr>
        </table>
    </div>


</div>