﻿<div ng-controller="logSupplyController">
    <br />
    <div class="row fedder_header" id="brd">
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Name : {{feederName}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Type : {{feederType}} </label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Area : {{area}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Substation : {{substation}}</label>

        </div>
    </div>
    <br />
    <div class="box">
        <div class="row" style="margin-left:0px;">

            <div class="col-md-4"> </div>
            <div class="col-md-2">
                <label>Month & Year:</label>
                <input type="text" ui-date="supplyDateOpts" id="txtLogSupply" ng-model="txtLogSupplyDate" placeholder="DD-MM-YYYY" class='form-control datepicker_textbox' />
            </div>
            <div class="col-md-2" style="margin-top:16px;">
                <input type="button" ng-click="logSupplyClick()" value="GO" class="btn search_btn analysis_go_btn" />
            </div>
            <div class="col-md-4"> </div>

        </div>
        <br />
    </div>



    <br />

    <input type="button" value="PDF" ng-click="logSupplyPDF()"/>

    <div class="box" id="supply_log">
        <br />
        <table id="tblLogSupply">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">3-Ph Supply</th>
                    <th colspan="2">2-Ph Supply</th>
                    <th colspan="2">1-Ph Supply</th>
                    <th colspan="2">Outage</th>
                    <th colspan="2"></th>


                </tr>

                <tr>
                    <th>Date</th>
                    <th>Hrs.</th>
                    <th>Timings and Duration</th>
                    <th>Hrs.</th>
                    <th>Timings and Duration</th>
                    <th>Hrs.</th>
                    <th>Timings and Duration</th>
                    <th>Hrs.</th>
                    <th>Timings and Duration</th>
                    <th>Total Supply(Hrs.)</th>
                    <th>Remarks</th>
                </tr>
            </thead>
        </table>

    </div>
</div>