﻿<div ng-controller="loadGraphController">
    <br />
    <div class="row fedder_header">
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Name : {{feederName}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Type : {{feederType}} </label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Area : {{area}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Substation : {{substation}}</label>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="feeder_name">Load Profile Graph</h2>
        </div>
    </div>

    <div class="row">

        <div id="load" style="width:98%; position:absolute; left: 1%;"></div>

    </div>
</div>