﻿
<div ng-controller="monthSupplyController">

    <br />
    <div class="row fedder_header">
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Name : {{feederName}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Feeder Type : {{feederType}} </label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Area : {{area}}</label>

        </div>
        <div class="col-md-3">
            <label class="FMS-title-block">Substation : {{substation}}</label>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="feeder_name">Monthly Power Supply Graph</h2>
        </div>
    </div>
    <div class="row" style="margin-left:0px;">
        <!--<div class="col-md-1"></div>-->
        <div class="col-md-4">

        </div>
        <div class="col-md-2">
            <label>Month & Year:</label>
            <input type="text" ui-date="opts" id="txtMonthDate" ng-model="txtMomthlySupplyDate" placeholder="DD-MM-YYYY" class='form-control datepicker_textbox' />
        </div>
        <div class="col-md-2" style="margin-top:16px;">
            <input type="button" value="GO" ng-click="monthlySupplyClick()" class="btn search_btn analysis_go_btn" />
        </div>


    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <p style="font-size: large; color: #ee9800;">
                Daily Average Power Supply (HH:MM)
            </p>

        </div>
    </div>
    <div class="row">

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                    <label style="color: #1b5e20;">Three Phase Supply: {{threePhaseDuration}}</label>
                </div>
                <div class="col-md-6">
                    <label style="color: #e65100;">Two Phase Supply: {{twoPhaseDuration}}</label>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4">
                    <label style="color: #ffd600;">Single Phase Supply: {{singlePhaseDuration}}</label>
                </div>
                <div class="col-md-4">
                    <label style="color: #b71c1c;">Power Failure: {{powerFailDuration}}</label>
                </div>
                <div class="col-md-4">
                    <label style="color: #afaaaa;">Meter Not Responding: {{notCommunicationDuration}}</label>
                </div>


            </div>

        </div>

    </div>

    <br />


    <div class="row">

        <div id="container" style="width:98%; position:absolute; left: 1%;"></div>

    </div>






    <!--<div class="col-md-2">
        <label>From Date:</label>

        <input ui-date="opts" id="txtMonthDate" ng-model="data.valor" readonly=""/>
    </div>
    <div id="container"></div>-->
</div>