﻿<div class="content-wrapper">
    <section class="content">

        <a href="#/frmReports"><span>Back</span></a>
        <div class="box">
            <div class="row" style="margin-left:0px;">
                
                <div class="col-md-4"> </div>
                <div class="col-md-2">
                    <label>Month & Year:</label>
                    <input type="text" id="txtRptQuality" ng-model="txtRptQualityDate" placeholder="DD-MM-YYYY" class='form-control datepicker_textbox' />
                </div>
                <div class="col-md-2" style="margin-top:16px;">
                    <input type="button" ng-click="rptQualityClick()" value="GO" class="btn search_btn analysis_go_btn" />
                </div>
                <div class="col-md-4"> </div>

            </div>
            <br />
        </div>

        <br />

        <input type="button" value="PDF" ng-click="rptQualityPDF()" />

        <div class="box" id="supply_log">
            <br />
            <table id="tblRptQuality">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th colspan="5">Rural Area Feeders </th>
                        <th colspan="2">Feeders on which DL Supply > 20 Hrs (SP+PP)</th>
                        <th colspan="2">Feeders on which AG Supply is as per Block (PP)</th>
                    </tr>

                    <tr>
                        <th>S.No</th>
                        <th>Circle</th>
                        <th>Block Hour Feeders</th>
                        <th>NonBlock Hour Feeders</th>
                        <th>Industrial Feeders</th>
                        <th>Water Works Feeders</th>
                        <th>Total</th>
                        <th>Nos</th>
                        <th>% of Total</th>
                        <th>Nos of AG</th>
                        <th>% of Total</th>
                    </tr>
                </thead>
            </table>

        </div>
    </section>
</div>