﻿
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="client_logo">
                <img src="images/JVVNL_Logo.png">
            </div>
            <div class="row" id="divdropdowns">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="search_sec">
                                <div class="col-md-2">
                                    <label>Zone</label>
                                    <select ng-model="dzone" class="form-control select2" ng-change="GetCircle()"
                                            ng-options="dzone as dzone.zone for dzone in zones"></select>
                                </div>
                                <div class="col-md-2">
                                    <label>Circle</label>
                                    <select ng-model="dcircle" class="form-control select2" ng-change="GetMla()"
                                            ng-options="dcircle as dcircle.circle for dcircle in circles"></select>
                                </div>
                                <div class="col-md-2">
                                    <label>MLA</label>
                                    <select ng-model="dmla" class="form-control select2" ng-change="GetDiv()"
                                            ng-options="dmla as dmla.mla for dmla in mlas"></select>
                                </div>
                                <div class="col-md-2">
                                    <label>Division</label>
                                    <select ng-model="ddiv" class="form-control select2" ng-change="GetSubDiv()"
                                            ng-options="ddiv as ddiv.div for ddiv in divs"></select>
                                </div>
                                <div class="col-md-2">
                                    <label>Sub Division</label>
                                    <select ng-model="dsubdiv" class="form-control select2" ng-change="GetJen()"
                                            ng-options="dsubdiv as dsubdiv.subdiv for dsubdiv in subdivs"></select>
                                </div>
                                <div class="col-md-2">
                                    <label>JEN</label>
                                    <select ng-model="djen" class="form-control select2" ng-change="GetPie()"
                                            ng-options="djen as djen.jen for djen in jens"></select>
                                </div>
                            </div>
                            <p style="white-space:pre-wrap;">{{details}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="divchart">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <h2 class="page-title">Feeder Power Supply Status Indicator as on {{ today | date : "dd-MM-y HH:mm:ss" }}</h2>
                            <div class="col-md-8">
                                <div class="graph_container">
                                    <div class="chart-responsive">
                                        <div id="feedercontainer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 FMS-legend">

                                <h5>Legend from Feeders</h5>

                                <div class="progress-group">
                                    <span class="progress-text">Three Phase Running</span>
                                    <span class="progress-number"><b>{{ threeph }}</b>/{{ total }}</span>
                                    <div class="progress sm">
                                        <!--<div class="progress-bar progress-bar-green" style="width:80%"></div>-->
                                        <div class="progress-bar progress-bar-green" ng-style="{'width' : div_3ph + '%'}"></div>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    <span class="progress-text">Two Phase Running</span>
                                    <span class="progress-number"><b>{{ twoph }}</b>/{{ total }}</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-orange" ng-style="{'width' : div_2ph + '%'}"></div>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    <span class="progress-text">Single Phase Running</span>
                                    <span class="progress-number"><b>{{ singph }}</b>/{{ total }}</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-yellow" ng-style="{'width' : div_1ph + '%'}"></div>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    <span class="progress-text">Power Failure</span>
                                    <span class="progress-number"><b>{{ noph }}</b>/{{ total }}</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-red" ng-style="{'width' : div_pf + '%'}"></div>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    <span class="progress-text">Not Communicated</span>
                                    <span class="progress-number"><b>{{ ncph }}</b>/{{ total }}</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-grey" ng-style="{'width' : div_notcomm + '%'}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="gridtable">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" is-open="status.open">
                                <uib-accordion-heading>
                                    <h6 class="box-title1">Substations</h6><i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                    <h6><i class="fa fa-download download_icons" aria-hidden="true"></i></h6>
                                    <h6 class="box-title1">Feeders</h6>
                                </uib-accordion-heading>
                                <div layout="" flex>
                                    <div layout="column" class="gridListdemoDynamicTiles" ng-repeat="photoColumn in data.photos3p" flex>
                                        <div ng-repeat="photo in photoColumn" style="margin:5px" class="substation_head">
                                            <md-card layout-fill layout-padding ng-class="photo.colour">
                                                <div style="background-color: rgba(0, 0, 0, 0.5098039215686274); border-radius:5px; color: white; margin: -8px; margin-bottom: 0px; ">
                                                    <center>
                                                        <h4>{{photo.substation}}</h4>
                                                    </center>
                                                </div>
                                                <div>
                                                    <div ng-repeat="feeder in photo.feeders" style="margin:5px;">
                                                        <center>
                                                            {{feeder.feeder}}
                                                        </center>
                                                        <br />
                                                    </div>
                                                </div> 
                                            </md-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion>
                    </div>
            </div>
            <div class="row">
                <div class="box">
                    <div class="box-body date_sec">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Date Selection:</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="txtDate" is-open="popup1.opened" popup-placement="bottom-right" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="buttons_cal_image" ng-click="open1()"><img src="images/cal.gif" /></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="divpower">
                <div class="box accordians">
                    <div class="box-body">
                        <div class="box db_sections">
                            <h2>Power Supply:</h2>

                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="threePhaseClicked(txtDate,'Three Phase Running')">
                                                <h3 class="box-title">
                                                    11kV Feeder Three Phase Supply as on {{ txtDate | date :  "dd-MM-y"}}
                                                </h3>
                                                <i class="pull-right substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>

                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div ng-if="showThreePhase" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="threePhasegridOptions" class="grid_table">
                                                <div class="grid-msg-overlay" ng-show="loading">
                                                    <div class="msg">
                                                        <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                    </div>
                                                </div>
                                                <div class="grid-msg-overlay" ng-hide="noData">
                                                    <div class="msg">
                                                        <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </uib-accordion>

                            </div>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="threePhaseClicked(txtDate,'Two Phase Running')">
                                                <h3 class="box-title">11kV Feeder Two Phase Supply as on {{ txtDate | date :  "dd-MM-y"}} </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div ng-if="showTwoPhase" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="twoPhasegridOptions" class="grid_table">
                                                <div class="grid-msg-overlay" ng-show="loading">
                                                    <div class="msg">
                                                        <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                    </div>
                                                </div>
                                                <div class="grid-msg-overlay" ng-hide="noData">
                                                    <div class="msg">
                                                        <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="threePhaseClicked(txtDate,'Single Phase Running')">
                                                <h3 class="box-title">11kV Feeder Single Phase Supply as on {{ txtDate | date :  "dd-MM-y"}} </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div ng-if="showSinglePhase" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="singlePhasegridOptions" class="grid_table">
                                                <div class="grid-msg-overlay" ng-show="loading">
                                                    <div class="msg">
                                                        <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                    </div>
                                                </div>
                                                <div class="grid-msg-overlay" ng-hide="noData">
                                                    <div class="msg">
                                                        <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="threePhaseClicked(txtDate,'Power Failure')">
                                                <h3 class="box-title">11kV Feeder System Outage as on {{ txtDate | date :  "dd-MM-y"}} </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div ng-if="showPowerFailurePhase" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="PowerFailurePhasegridOptions" class="grid_table">
                                                <div class="grid-msg-overlay" ng-show="loading">
                                                    <div class="msg">
                                                        <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                    </div>
                                                </div>
                                                <div class="grid-msg-overlay" ng-hide="noData">
                                                    <div class="msg">
                                                        <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                        <div class="box db_sections">
                            <h2>Peakloads:</h2>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="halfPekloadClick(txtDate)">
                                                <h3 class="box-title">11kV Feeder Half Hourly Peakload as on {{ txtDate | date :  "dd-MM-y"}} </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div class="grid_table">
                                                <div ng-if="showHalfPeakLoad" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="halfpeakloadgridOptions" class="grid_table">
                                                    <div class="grid-msg-overlay" ng-show="loading">
                                                        <div class="msg">
                                                            <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                        </div>
                                                    </div>
                                                    <div class="grid-msg-overlay" ng-hide="noData">
                                                        <div class="msg">
                                                            <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="subPeakLoadClick(txtDate)">
                                                <h3 class="box-title">33kV Substation Peakload as on {{ txtDate | date :  "dd-MM-y"}} </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div class="grid_table">
                                                <div ng-if="showSubfPeakLoad" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="subpeakloadgridOptions" class="grid_table">
                                                    <div class="grid-msg-overlay" ng-show="loading">
                                                        <div class="msg">
                                                            <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                        </div>
                                                    </div>
                                                    <div class="grid-msg-overlay" ng-hide="noData">
                                                        <div class="msg">
                                                            <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                        <div class="box db_sections">
                            <h2>Abstracts:</h2>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="pfClick(txtDate)">
                                                <h3 class="box-title">11kV Feeder Power Factor Abstract as on {{ txtDate | date :  "dd-MM-y"}} </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div class="grid_table">
                                                <div ng-if="showPF" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="pfGridOptions" class="grid_table">
                                                    <div class="grid-msg-overlay" ng-show="loading">
                                                        <div class="msg">
                                                            <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                        </div>
                                                    </div>
                                                    <div class="grid-msg-overlay" ng-hide="noData">
                                                        <div class="msg">
                                                            <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="overLoadClick(txtDate)">
                                                <h3 class="box-title">11kV Feeder Overload - Underload as on {{ txtDate | date :  "dd-MM-y"}} </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div class="grid_table">
                                                <div ng-if="showOverload" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="overLoadGridOptions" class="grid_table">
                                                    <div class="grid-msg-overlay" ng-show="loading">
                                                        <div class="msg">
                                                            <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                        </div>
                                                    </div>
                                                    <div class="grid-msg-overlay" ng-hide="noData">
                                                        <div class="msg">
                                                            <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="intClick(txtDate)">
                                                <h3 class="box-title">11kV Feeder Interruption Abstract as on {{ txtDate | date :  "dd-MM-y"}} </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div class="grid_table">
                                                <div ng-if="showInt" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="intGridOptions" class="grid_table">
                                                    <div class="grid-msg-overlay" ng-show="loading">
                                                        <div class="msg">
                                                            <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                        </div>
                                                    </div>
                                                    <div class="grid-msg-overlay" ng-hide="noData">
                                                        <div class="msg">
                                                            <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                        <div class="box db_sections">
                            <h2>General:</h2>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="instantClick(txtDate)">
                                                <h3 class="box-title">11kV Feeder Meter Instants</h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div class="grid_table">
                                                <div ng-if="showInstants" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid="instantsGridOptions" class="grid_table">
                                                    <div class="grid-msg-overlay" ng-show="loading">
                                                        <div class="msg">
                                                            <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                        </div>
                                                    </div>
                                                    <div class="grid-msg-overlay" ng-hide="noData">
                                                        <div class="msg">
                                                            <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="logBookClicked(txtDate)">
                                                <h3 class="box-title">11kV Feeder Logbook as on {{ txtDate | date :  "dd-MM-y"}} </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div ng-if="showLogBook" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid-expandable ui-grid="logBookGridOptions" class="grid_table">
                                                <div class="grid-msg-overlay" ng-show="loading">
                                                    <div class="msg">
                                                        <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                    </div>
                                                </div>
                                                <div class="grid-msg-overlay" ng-hide="noData">
                                                    <div class="msg">
                                                        <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                            <div class="row">
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" is-open="status.open">
                                        <uib-accordion-heading>
                                            <div class="box-header with-border" ng-click="notCommClick(txtDate)">
                                                <h3 class="box-title">11kV Feeder Not Communicating </h3>
                                                <i class="pull-right glyphicon substaion_fa_icons" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i>
                                            </div>
                                        </uib-accordion-heading>
                                        <div class="box-body">
                                            <div class="grid_table">
                                                <div ng-if="shownotComm" is-open="status.open1" ui-grid-pagination ui-grid-exporter ui-grid-expandable ui-grid="notCommGridOptions" class="grid_table">
                                                    <div class="grid-msg-overlay" ng-show="loading">
                                                        <div class="msg">
                                                            <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                                        </div>
                                                    </div>
                                                    <div class="grid-msg-overlay" ng-hide="noData">
                                                        <div class="msg">
                                                            <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>

</section>
</div>
