﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FMS Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" />

    <link href="css/custom.css" rel="stylesheet" type="text/css" />


    <style type="text/css">
        .btn:focus, .btn-large:focus, .btn-floating:focus {
            background-color: #536872 !important;
            color: #fff !important;
        }

        #lnkdwnload {
            color: rgb(244, 157, 0);
        }

        .mobile_app span {
            color: rgb(244, 157, 0);
            font-size: 14px;
        }

        .main-sidebar {
            display: none;
        }

        .main-header {
            display: none;
        }

        .skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {
            background-color: transparent !important;
        }

        .form-control:focus {
            box-shadow: 0 1px 0 0 #ee9800 !important;
            border-color: #ee9800 !important;
        }

        .main_page_container {
            background: rgba(0, 0, 0, 0.7) url(../images/login1.jpg) repeat center center fixed;
            z-index: -1;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="row">

        <div class="login-box">
            <div class="login-box-body">
                <a title="Please visit our website" target="_blank" href="http://www.visiontek.co.in/">
                    <img style="width: 68%; margin: 0 0 0 50px;" src="images/vlogo.png">
                </a>
                <p class="login-box-msg">FdrMS | Feeder Monitoring System</p>
                <form style="margin-top: 20px;" id="frmLogin">
                    <div class="form-group has-feedback">
                        <input class="form-control" placeholder="User Name" type="text" ng-model="user.userid" id="txtUserid" autofocus required />
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" placeholder="Password" type="password" id="txtPassword" ng-model="user.password" required />
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="row">

                        <div>

                            <button class="btn" ng-click="formSubmit(user)">SIGN IN</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
