﻿<div class="content-wrapper">
    <section class="content">
        <h2>Review Reports</h2>
        <div class="row">
            <div class="reports_buttons">
                <button ng-click="">1.1 Quality of Power Supply - 24x7 DL & Full Ag Block</button>
                <button ng-click="clicked('RuralTripping')">2.2 Tripping Status of Rural Area : 11kV Feeders</button>
                <button ng-click="clicked('UrbanTripping')">2.4 Tripping Status of Urban Area : 11kV Feeders</button>
                <button ng-click="clicked('IndustrialTripping')">2.5 Tripping Status of Industrial Area : 11kV Feeders</button>
                <button ng-click="clicked('WaterTripping')">2.6 Tripping Status of Water Works : 11kV Feeders</button>
                <button ng-click="">4.1 LRP Measures : Action taken for Controlling Excess Supply</button>
                <button ng-click="">4.8 Distribution Losses : Status of Drawl and Sale of Energy</button>
                <button ng-click="">4.9 Distribution Losses : Rural Feeders</button>
                <button ng-click="">4.10 Distribution Losses : Urban Feeders</button>
                <button ng-click="">4.11 Distribution Losses : Urban Areas – MT/DHQtr</button>
                <button ng-click="">4.12 Distribution Losses : Industrial Feeders</button>
                <button ng-click="">4.13 Distribution Losses : Industrial Areas</button>
                <button ng-click="">4.15 Distribution Losses : Water Works Feeders</button>
                <button ng-click="">6.1 Over All T&D loss Reduction</button>
                <button ng-click="">9.1 Financial Loss Analysis : Status of Per Unit Revenue and Expenditure</button>
                <button ng-click="">10.1 AT&C Losses : Urban Area</button>
                <button ng-click="">10.2 AT&C Losses : Rural</button>
                <button ng-click="">10.3 AT&C Losses : Industrial</button>
                <button ng-click="">10.4 AT&C Losses : Overall</button>
                <button ng-click="">10.10 AT&C Losses : Water Works</button>
                <button ng-click="">11.1 SAIFI</button>
                <button ng-click="">11.2 SAIDI</button>
                <button ng-click="clicked('Feederwise')">11.3 11kV Feederwise Energy Audit</button>
                <button ng-click="">11.4 DT Input & Sold Energy</button>
                <button ng-click="">SLA Report</button>
                <button ng-click="">Installation Report</button>
                <button ng-click="">Energy Audit for 54 Feeders</button>
            </div>
        </div>
    </section>
</div>