﻿<div class="content-wrapper">
    <section class="content">
        <div class="pop_box">
            <h2>11kV Feederwise Tripping Status of {{title}} Zone Wise Report<button class="search_btn back_btn" ng-click="back()">Back</button></h2>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-3">

                    <div class="form-group">
                        <label>Month & Year:</label>
                        <input id="txtDate" type="text" placeholder="Month Year" class="feed_date_input" ng-model="monthyear">
                    </div>

                </div>
                <div class="col-md-5">
                    <button Class="search_btn btn button_align" ng-click="getMonthZone(monthyear)">GO</button>
                </div>
            </div>
            <div class="box">
                <div class="pop_grid">
                    <div class="box-body">
                        <div ui-grid-pagination ui-grid-exporter ui-grid="gridOptions" class="grid_table">
                            <div class="grid-msg-overlay" ng-show="loading">
                                <div class="msg">
                                    <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                </div>
                            </div>
                            <div class="grid-msg-overlay" ng-hide="noData">
                                <div class="msg">
                                    <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>