﻿<div class="content-wrapper">
    <section class="content">
        <div class="pop_box">
            <h2>11kV Feederwise Tripping Status of {{title}} SubDivision Report<button class="search_btn back_btn" ng-click="back()">Back</button><button class="search_btn back_btn" ng-click="home()">Home</button></h2>
            <div class="row">
                <ul id="breadcrumb2">
                    <li><a href="#">Zone :<label>{{lblZone}}</label></a></li>
                    <li><a href="#">Circle :<label>{{lblCircle}}</label></a></li>
                    <li><a href="#">Division :<label>{{lblDivision}}</label></a></li>
                    <li style="display: none;"><a href="#"></a></li>
                </ul>
            </div>
            <div class="box">
                <div class="pop_grid">
                    <div class="box-body">
                        <div ui-grid-pagination ui-grid-exporter ui-grid="gridOptions" class="grid_table">
                            <div class="grid-msg-overlay" ng-show="loading">
                                <div class="msg">
                                    <img src="images/ajax-loader.gif" style="margin-top: 10px;" />
                                </div>
                            </div>
                            <div class="grid-msg-overlay" ng-hide="noData">
                                <div class="msg">
                                    <span style="color: #ff0000;font-weight: bold;">No Records Found!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
